**/.*
**/*scratch*
!.pre-commit-config.yaml
!.gitignore
!.github
!.releaserc.yaml
!.readthedocs.yaml
**/htmlcov
**/__*__/
**/*queryguard.toml
node_modules
coverage.*
dist
compose-dev.yaml
TODO
/ci
/node_modules
